<button ng-hide="cmtsCtrl.show" ng-click = "cmtsCtrl.toggle()">Mostrar Comentarios <spam>{{cmtsCtrl.comments.length}}</spam></button>
  <div ng-show="cmtsCtrl.show">
      <div>
          <h1>Comentarios <button ng-click ="cmtsCtrl.toggle()"></button></h1>
      </div>
      <div>
          <form name="commentsForm" ng-submit="commentsForm.$valid && cmtsCtrl.addComment()" novalidate>
             <h2>valid: {{commentsForm.$valid}}</h2>
              <div>
                  <div>
                      <textarea ng-model="cmtsCtrl.comment.body" name="" id="" cols="30" rows="10" required>
                          
                      </textarea>
                  </div>
                  <div>
                      <input type="email" ng-model="cmtsCtrl.comment.email" ng-disabled="cmtsCtrl.comment.anonimo" ng-required="!cmtsCtrl.comment.anonimo">
                      <label for="">
                          <input type="checkbox" ng-model="cmtsCtrl.comment.anonimo" ng-change="cmtsCtrl.anonimoCambio()">
                      </label>
                  </div>
                  <div>
                      <button type="submit">Ingresar</button>
                  </div>
              </div>
          </form>
      </div>
      <div ng-repeat="comment in cmtsCtrl.comments">
          <p>{{comment.body}}</p>
          <p>Comentario por: <a ng-if="!comment.anonimo" href="{{comment.email}}">{{comment.email}}</a>
          <em ng-if="comment.anonimo">Anonimo</em>
          <spam>{{comment.date | date : 'medium'}}</spam>
          </p>
      </div>
  </div>